/* App.css */
body {
  font-family: 'Helvetica', sans-serif; /* Use WhatsApp's default font */
  background-color: #f0f0f0; /* WhatsApp background color */
  margin: 0;
  padding: 0;
}

.App {
  max-width: 100%; /* Set a maximum width for the app content */
  margin: 0 auto;
  padding: 20px;
  background-color: #fff; /* App content background color */
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* WhatsApp-like header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #128c7e; /* WhatsApp green */
  color: #fff;
}

.header-title h1 {
  font-size: 20px;
  margin: 0;
}

.header-icons {
  display: flex;
  align-items: center;
}

.icon {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

/* WhatsApp-like settings */
.group-settings {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

h2 {
  font-size: 16px;
  margin: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-left: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: #fff;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #128c7e;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

/* WhatsApp-like marketplace */
.marketplace {
  padding: 20px;
}

h2 {
  font-size: 18px;
  margin: 0;
}


.chat-list {
  background-color: white; /* Set the background color to white */
  padding: 10px; /* Add padding as needed */
  border-bottom: 1px solid #ccc; /* Add a border if desired */
}

/* Add styles for the GroupSettings popup */
.group-settings-popup {
  position: fixed; /* Fixed positioning to keep it in place */
  top: 0; /* Position it at the top of the viewport */
  left: 0; /* Position it at the left of the viewport */
  width: 100%; /* Make it cover the entire viewport width */
  height: 100%; /* Make it cover the entire viewport height */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  z-index: 999; /* Ensure it appears above other elements */
}

/* Add styles for the GroupSettings content */
.group-settings-content {
  background-color: #fff; /* White background color for the content */
  padding: 20px; /* Add padding to the content */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Box shadow for a raised effect */
  max-width: 400px; /* Set a maximum width for the content */
  width: 100%; /* Make it responsive */
}

/* Add more styles as needed */

