/* Reset some default styles */
*{
  text-decoration: none !important;
}

body, h1, p {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* Apply a background color and font styles */
body {
  background-color: #f0f0f0; /* Light gray background */
  font-family: Arial, sans-serif; /* Use a sans-serif font */
}

/* Style a container div for the entire app */
#app {
  max-width: 600px; /* Limit the width of the app container */
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px;
  background-color: #fff; /* White background for the app */
  border: 1px solid #ddd; /* Add a border around the app */
  border-radius: 10px; /* Add rounded corners to the app */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

/* Style header section */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #128c7e; /* WhatsApp green */
  color: #fff; /* White text color */
}

.header-title h1 {
  font-size: 20px;
  margin: 0;
}

.header-icons {
  display: flex;
  align-items: center;
}

.icon {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

/* Style group settings section */
.group-settings {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

h2 {
  font-size: 16px;
  margin: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-left: 10px;
}

/* Add more styles as needed for other components */
